# PUT NEEDED DATA HERE AND REMOVE .example SUFFIX FROM FILENAME
bot.token=YOUR_TOKEN
# https://docs.boticord.top/api
bot.boticord.token=BOTICORD_TOKEN_HERE
bot.boticord.channel=YOUR_CHANNEL_ID
storage.db.driverClassName=org.postgresql.Driver
storage.db.jdbcURL=jdbc:postgresql://localhost:5432/postgres
storage.db.username=admin
storage.db.password=admin